<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Projeto.Properties.Settings.CONTROLE_ESTOQUEConnectionString"
            connectionString="Data Source=DESKTOP-CAS1E6J;Initial Catalog=CONTROLE_ESTOQUE;User ID=sa;Password=fhtybhrubgikv"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>